{:spacy.domain/slug "dezember-2020-strategie-event",
 :spacy.domain/waiting-queue
 [#:spacy.domain{:sponsor "joy",
                 :session
                 #:spacy.domain{:title "Responsible Web Applications",
                                :description
                                "Developing an application that is responsive and accessible",
                                :id
                                #uuid "70ef7a12-569c-45aa-ad8c-4f4935d289be"}}],
 :spacy.domain/rooms ["Berlin" "Offenbach" "Monheim"],
 :spacy.domain/times ["10:00 - 11:00" "11:00 - 12:00" "12:00 - 13:00"],
 :spacy.domain/schedule [],
 :spacy.domain/facts []}
