{:waiting-queue [{:sponsor "joy", :session {:title "Responsible Web Applications", :description "Developing an application that is responsive and accessible", :session-id "UUID1"}}], :rooms ["Berlin" "Offenbach" "Monheim"], :times [:10:00-11:00 :11:00-12:00 :12:00-13:00], :scheduled [{:sponsor "jans", :session {:session-id "UUID2", :title "Idris", :description "Ich liebe Typen"}, :room "Berlin", :time :10:00-11:00}], :events [["UUID2" :session-title "Idris"] ["UUID2" :description "Ich liebe Typen"] ["UUID-jan" :has-suggested "UUID2"] ["UUID2" :has-room "UUID-Berlin"] ["UUID2" :has-time "UUID-10:00"] ["UUID4" :session-title "Responsible Web Applications"] ["UUID4" :description "Responsive + Accessible"] ["UUID-joy" :has-suggested "UUID4"]]}
