<!DOCTYPE html>
<html lang="en">
  <body>
    <hijax-form data-command="schedule-session">
      <form method="POST" action>
          <input type="hidden" name="id" value>
          <input type="hidden" name="room" value>
          <input type="hidden" name="time" value>
          <button>
            <msg key="commands.schedule-session.action"></msg>
            <span class="visually-hidden">
              <msg key="commands.actions.room-time" room time></msg>
            </span>
          </button>
      </form>
    </hijax-form>
    <form method="POST" data-command="move-session" action>
      <input type="hidden" name="id" value>
      <input type="hidden" name="room" value>
      <input type="hidden" name="time" value>
      <button>
        <msg key="commands.move-session.action"></msg>
        <span class="visually-hidden">
          <msg key="commands.actions.room-time" room time></msg>
        </span>
      </button>
    </form>
  </body>
</html>
