<!DOCTYPE html>
<html lang="en">
  <body>
    <new-session>
      <h2 id="new-session"><msg key="new-session.heading"></msg></h2>
      <p>
        <msg key="new-session.no-display-name.1"></msg>
        <a><msg key="new-session.no-display-name.link"></msg></a>
        <msg key="new-session.no-display-name.2"></msg>
      </p>
      <hijax-form>
          <form method="POST" action>
              <label>
                  <msg key="session.title"></msg>
                  <input type="text" name="title" required>
              </label>
              <label>
                  <msg key="session.description"></msg>
                  <textarea name="description" required></textarea>
              </label>
              <button type="submit"><msg key="new-session.submit"></msg></button>
          </form>
      </hijax-form>
    </new-session>
  </body>
</html>
