<!DOCTYPE html>
<html lang="en">
  <body>
    <new-session>
      <h2 id="new-session">Suggest a new session</h2>
      <hijax-form>
          <form method="POST" action>
              <label>
                  Title
                  <input type="text" name="title" required>
              </label>
              <label>
                  Description
                  <textarea name="description" required></textarea>
              </label>
              <button type="submit">Submit Session</button>
          </form>
      </hijax-form>
    </new-session>
  </body>
</html>
