<!DOCTYPE html>
<html lang="en">
  <body>
    <div class="session" data-id aria-labelledby="title">
      <details>
        <summary>
            <span data-slot="title" id="title"></span> - <span data-slot="sponsor"></span>
        </summary>
        <span data-slot="description"></span>
      </details>
      <div class="toolbar" is-sponsor>
        <hijax-form>
          <form data-command="delete-session" method="POST" action>
              <input type="hidden" name="id">
              <button>
                Delete Session
              </button>
          </form>
        </hijax-form>
        <form data-command="move-session" method="GET" action>
          <input type="hidden" name="id">
          <button>
            Move Session
          </button>
        </form>
      </div>
    </div>
  </body>
</html>
