{:en {:lang "en"
      :commands.schedule-session.action "Choose slot"
      :commands.move-session.action "Move to slot"
      :commands.actions.room-time "Room ${room}, Time ${time}"
      :login.h1 "Tell us who you are!"
      :login.help "Let us know the display name that you want to use for submitting sessions!"
      :login.name "Name"
      :login.submit "Set Display Name"
      :move-session.heading "Move Session"
      :move-session.current-position "Your session is currently here"
      :move-session.session-to-move "Session to move"
      :new-session.heading "Suggest a new session"
      :new-session.no-display-name.1 "We are glad you are joining our open space! Please "
      :new-session.no-display-name.link "set your display name"
      :new-session.no-display-name.2 " in order to be able to submit a session."
      :new-session.submit "Submit Session"
      :notifications.heading "Notifications"
      :notifications.toggle "Toggle Notifications"
      :notifications.msg.session-suggested ["Your session \"" [:span {:data-slot "title"}] "\" was received and placed in the queue."]
      :notifications.msg.session-scheduled ["The session \"" [:span {:data-slot "title"}] "\" from " [:span {:data-slot "sponsor"}] " will take place on "
                                            [:span {:data-slot "time"}] " in the " [:span {:data-slot "room"}] " room."]
      :open-spaces "Open Spaces"
      :queue.heading "Queue"
      :session.title "Title"
      :session.delete "Delete Session"
      :session.description "Description"
      :session.move "Move Session"
      :sessions.heading "Sessions"
      :up-next.status.up-next ["You are currently next in line! Please " [:a {:href "#sessions"} "select a slot"] " for your session \"${title}\""]
      :up-next.status.please-wait "Please wait for others to present their session"
      :up-next.status.nobody-in-queue "There are currently no sessions in the queue"}
 :de {:lang "de"
      :commands.schedule-session.action "Slot wählen"
      :commands.move-session.action "Slot wählen"
      :commands.actions.room-time "Raum ${room}, Zeit ${time}"
      :new-session.heading "Schlage ein Thema vor"
      :open-spaces "Open Space Veranstaltungen"
      :login.h1 "Erzähle uns, wer Du bist!"
      :login.help "Unter welchem Namen möchtest du Themen einreichen?"
      :login.name "Anzeigename"
      :login.submit "Anzeigename setzen"
      :move-session.heading "Thema umziehen"
      :move-session.current-position "Dein Thema ist aktuell hier"
      :move-session.session-to-move "Ausgewähltes Thema"
      :new-session.no-display-name.1 "Wir freuen uns, dass Du dabei bist! Bitte "
      :new-session.no-display-name.link "setze einen Anzeigename"
      :new-session.no-display-name.2 " bevor Du dein erstes Thema vorschlägst."
      :new-session.submit "Thema vorschlagen"
      :notifications.heading "Nachrichten"
      :notifications.toggle "Nachrichten ein/ausklappen"
      :notifications.msg.session-suggested ["Dein Thema \"" [:span {:data-slot "title"}] "\" wurde empfangen und ist jetzt in der Warteschlange."]
      :notifications.msg.session-scheduled ["Das Thema \"" [:span {:data-slot "title"}] "\" von " [:span {:data-slot "sponsor"}] " findet am "
                                            [:span {:data-slot "time"}] " im Raum " [:span {:data-slot "room"}] " statt."]
      :queue.heading "Warteschlange"
      :session.title "Titel"
      :session.delete "Löschen"
      :session.description "Beschreibung"
      :session.move "Umziehen"
      :sessions.heading "Zeitplan"
      :up-next.status.up-next ["Du bist als nächstes dran! Bitte  " [:a {:href "#sessions"} " wähle einen Zeitslot"] " für dein Thema \"${title}\"."]
      :up-next.status.please-wait "Bitte warte während die anderen ihren Themen präsentieren."
      :up-next.status.nobody-in-queue "Es gibt aktuell keinen Themen in der Warteschlange"}}
