{:en {:lang "en"
      :commands.schedule-session.action "Choose slot"
      :commands.move-session.action "Choose slot"
      :commands.actions.room-time "${time}, Room ${room}"
      :login.h1 "Set your display name"
      :login.help "Let us know the display name that you want to use for submitting sessions!"
      :login.name "Name"
      :login.submit "Set Display Name"
      :move-session.heading "Move Session"
      :move-session.current-position "Your session is currently here"
      :move-session.session-to-move "Session to move"
      :new-session.heading "Suggest a new session"
      :new-session.no-display-name.1 "We are glad you are joining our open space! Please "
      :new-session.no-display-name.link "set your display name"
      :new-session.no-display-name.2 " in order to be able to submit a session."
      :new-session.submit "Submit Session"
      :notifications.msg.session-suggested ["Your session \"" [:span {:data-slot "title"}] "\" was received and placed in the queue."]
      :notifications.msg.session-scheduled ["The session \"" [:span {:data-slot "title"}] "\" from " [:span {:data-slot "sponsor"}] " will take place on "
                                            [:span {:data-slot "time"}] " in the " [:span {:data-slot "room"}] " room."]
      :notifications.msg.session-deleted ["The session \"" [:span {:data-slot "title"}] "\" from " [:span {:data-slot "sponsor"}] " was removed and will no longer take place at "
                                            [:span {:data-slot "time"}] " in the " [:span {:data-slot "room"}] " room."]
      :notifications.msg.session-moved ["The session \"" [:span {:data-slot "title"}] "\" from " [:span {:data-slot "sponsor"}] " will has moved to the "
                                        [:span {:data-slot "room"}] " room on " [:span {:data-slot "time"}] "."]
      :open-spaces "Open Spaces"
      :queue.heading "Queue"
      :session.title "Title"
      :session.delete "Delete Session"
      :session.description "Description"
      :session.move "Move Session"
      :session.schedule "Schedule session"
      :session.sponsor "Sponsor"
      :sessions.heading "Sessions"
      :sessions.schedule.help "Choose a time and room for your session \"${title}\" by selecting a slot within the following schedule."
      :sessions.schedule.help.a11y "You can find open slots by iterating through the table. Slots which are available will have a \"Choose Slot\" action."
      :up-next.status.up-next ["You are currently next in line! Please " [:a {:href "#sessions"} "select a slot"] " for your session \"" [:span {:data-slot "title"}] "\""]
      :up-next.status.please-wait "Please wait for others to present their session"
      :up-next.status.nobody-in-queue "There are currently no sessions in the queue"}
 :de {:lang "de"
      :commands.schedule-session.action "Slot wählen"
      :commands.move-session.action "Slot wählen"
      :commands.actions.room-time "${time}, Raum ${room}"
      :new-session.heading "Schlage ein Thema vor"
      :open-spaces "Open Space Veranstaltungen"
      :login.h1 "Setze einen Anzeigename"
      :login.help "Unter welchem Namen möchtest du Themen einreichen?"
      :login.name "Anzeigename"
      :login.submit "Anzeigename setzen"
      :move-session.heading "Thema umziehen"
      :move-session.current-position "Dein Thema ist aktuell hier"
      :move-session.session-to-move "Ausgewähltes Thema"
      :new-session.no-display-name.1 "Wir freuen uns, dass Du dabei bist! Bitte "
      :new-session.no-display-name.link "setze einen Anzeigename"
      :new-session.no-display-name.2 ", bevor Du dein erstes Thema vorschlägst."
      :new-session.submit "Thema vorschlagen"
      :notifications.msg.session-suggested ["Dein Thema \"" [:span {:data-slot "title"}] "\" wurde empfangen und ist jetzt in der Warteschlange."]
      :notifications.msg.session-scheduled ["Das Thema \"" [:span {:data-slot "title"}] "\" von " [:span {:data-slot "sponsor"}] " findet am "
                                            [:span {:data-slot "time"}] " im Raum " [:span {:data-slot "room"}] " statt."]
      :notifications.msg.session-deleted ["Das Thema \"" [:span {:data-slot "title"}] "\" von " [:span {:data-slot "sponsor"}] " wurde entfernt und findet nicht mehr am "
                                            [:span {:data-slot "time"}] " im Raum " [:span {:data-slot "room"}] " statt."]
      :notifications.msg.session-moved ["Das Thema \"" [:span {:data-slot "title"}] "\" von " [:span {:data-slot "sponsor"}] " wird jetzt
                                        am " [:span {:data-slot "time"}] " im Raum " [:span {:data-slot "room"}] " stattfinden."]
      :queue.heading "Warteschlange"
      :session.title "Titel"
      :session.delete "Löschen"
      :session.description "Beschreibung"
      :session.move "Umziehen"
      :session.schedule "Zeitslot auswählen"
      :session.sponsor "Sponsor"
      :sessions.heading "Zeitplan"
      :sessions.schedule.help "Wähle eine Zeit und Raum für dein Thema \"${title}\" innerhalb des folgenden Zeitplans."
      :sessions.schedule.help.a11y "Du kannst offene Zeitslots finden, indem du durch die Tabelle iterierst. Zeitslots, die verfügbar sind, werden eine \"Slot wählen\" Schaltfläche haben."
      :up-next.status.up-next ["Du bist als nächstes dran! Bitte  " [:a {:href "#sessions"} " wähle einen Zeitslot"] " für dein Thema \"" [:span {:data-slot "title"}] "\"."]
      :up-next.status.please-wait "Bitte warte, während die anderen ihre Themen präsentieren."
      :up-next.status.nobody-in-queue "Es gibt aktuell keine Themen in der Warteschlange"}}
