[{:spacy.domain/slug "februar-2021-event",
  :spacy.domain/name "Februar 2021 Event",
  :spacy.domain/waiting-queue [],
  :spacy.domain/rooms
  ["Berlin"
   "Monheim"
   "München"
   "Offenbach"
   "Zürich"
   "Backup 1"
   "Backup 2"
   "Backup 3"],
  :spacy.domain/times
  ["Donnerstag 13:00 - 14:00"
   "Donnerstag 14:30 - 15:30"
   "Donnerstag 16:00 - 17:00"
   "Freitag 13:00 - 14:00"
   "Freitag 14:30 - 15:30"
   "Freitag 16:00 - 17:00"],
  :spacy.domain/schedule []}]
