<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>
        <link rel="stylesheet" href="/bundle.css" />
    </head>
    <body>
        <header>
            <h1></h1>

            <nav>
                <ul>
                    <li><a href="#new-session"><msg key="new-session.heading"></msg></a></li>
                    <li><a href="#sessions"><msg key="sessions.heading"></msg></a></li>
                    <li><a href="#queue"><msg key="queue.heading"></msg></a></li>
                    <li class="js-only visually-hidden"><a href="#notifications"><msg key="notifications.heading"></msg></a></li>
                </ul>
            </nav>
        </header>
        <main data-layout="event" current-user>
            <up-next></up-next>
            <new-session id="new-session"></new-session>
            <bulletin-board id="sessions"></bulletin-board>
            <waiting-queue id="queue"></waiting-queue>
            <user-notifications class="visually-hidden" current-user hidden role="log" aria-live="polite">
                <h2 id="notifications"><msg key="notifications.heading"></msg></h2>
                <details open>
                    <summary><msg key="notifications.toggle"></msg></summary>
                    <ul></ul>
                </details>

                <template data-template="spacy.domain/session-suggested">
                    <li>
                        <msg key="notifications.msg.session-suggested"></msg>
                    </li>
                </template>
                <template data-template="spacy.domain/session-scheduled">
                    <li>
                        <msg key="notifications.msg.session-scheduled"></msg>
                    </li>
                </template>
            </user-notifications>


            <template id="session-template">
                <li>
                    <details class="session" data-id>
                        <summary>
                            <span data-slot="title"></span> - <span data-slot="sponsor"></span>
                        </summary>
                        <span data-slot="description"></span>
                    </details>
                </li>
            </template>

            <fact-handler uri></fact-handler>
        </main>

        <script src="/bundle.js"></script>
    </body>
</html>
