<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            Spacy - "Login"
        </title>
        <link rel="stylesheet" href="/bundle.css" />
    </head>
    <body data-layout="centered">
        <main>
            <h1><msg key="login.h1"></msg></h1>

            <p><msg key="login.help"></msg></p>
            <form method="post">
                <input type="hidden" name="redirect" value>
                <label for="name">
                    <msg key="login.name"></msg>
                </label>
                <input id="name" type="text" name="name">
                <button type="submit"><msg key="login.submit"></msg></button>
            </form>
        </main>
    </body>
</html>
