<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            Spacy - "Login"
        </title>
        <link rel="stylesheet" href="/bundle.css" />
    </head>
    <body data-layout="centered">
        <main>
            <h1>Tell us who you are!</h1>

            <p>Let us know the display name that you want to use when submitting sessions!</p>
            <form method="post">
                <input type="hidden" name="redirect" value>
                <label>
                    Name
                    <input type="text" name="name">
                </label>
                <button type="submit">Set Display Name</button>
            </form>
        </main>
    </body>
</html>
