$breakpoint-phone-landscape-up: 25rem;
$breakpoint-desktop-up: 60rem;

body {
  display: grid;
  min-height: 100vh;
  grid-template-rows: min-content 1fr;
  grid-template-areas:
    "header"
    "main";
}

body > * {
  padding: $spacer-sm;
}

body[data-layout=centered] {
  grid-template-areas: "main";
  grid-template-rows: auto;
  place-items: center;

  h1 {
    text-align: center;
  }

  main {
    max-width: 25rem;

    > * + * {
      margin-top: $spacer-base;
    }
  }

  ul {
    padding: 0;
  }

  button {
    @extend %button-primary;
  }
}

body h1 {
  margin: 0 0 $spacer-xs;
  font-size: 1rem;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
}

header {
  $space: $spacer-sm;
  background-color: $indigo-50;
  border-bottom: 1px solid $gray-400;
  grid-area: header;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(7rem, auto));
    gap: $spacer-xs;
  }
}

main {
  grid-area: main;
}

main[data-layout="event"] {
  display: grid;
  grid-template-areas:
    "up-next"
    "new-session"
    "bulletin-board"
    "waiting-queue";
  padding: $spacer-base $spacer-sm;

  up-next {
    grid-area: up-next;
  }

  bulletin-board {
    grid-area: bulletin-board;
    overflow: auto;
  }

  new-session {
    grid-area: new-session;
  }

  waiting-queue {
    grid-area: waiting-queue;
  }

  #sessions:target {
    padding-top: $spacer-xl;
  }

  h2 {
    margin-top: $spacer-sm;
    margin-bottom: $spacer-sm;
  }
  h2 ~ h2 {
    margin-top: $spacer-md;
  }

  @media (min-width: $breakpoint-desktop-up) {
    grid-template-areas:
      "up-next bulletin-board"
      "new-session bulletin-board"
      "waiting-queue bulletin-board";
    grid-template-columns: 20rem 1fr;
    grid-template-rows: min-content min-content 1fr;
    gap: $spacer-base;

    #sessions:target {
      padding-top: 0;
    }
  }
}
