$font-size-sm: 0.875rem;
$font-size-base: 1rem;
$font-sans-serif: -apple-system, 'Open Sans', 'Helvetica Neue', sans-serif;

$spacer-xxs: 0.25rem;
$spacer-xs: 0.5rem;
$spacer-sm: 0.75rem;
$spacer-base: 1.25rem;
$spacer-md: 2rem;
$spacer-lg: 3.25rem;
$spacer-xl: 5.25rem;

// Shadows taken from: https://tailwindcss.com/docs/box-shadow

$box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);


// Colors taken from: https://tailwindcss.com/docs/customizing-colors#default-color-palette

$gray-100: #F7FAFC;
$gray-200: #EDF2F7;
$gray-800: #2D3748;
$gray-900: #1A202C;

$green-300: #9AE6B4;

$orange-200: #FEEBC8;
$orange-400: #F6AD55;

$blue-500: #4299E1;
$blue-600: #3182CE;
$blue-700: #2B6CB0;

$indigo-300: #A3BFFA;
